.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  position:absolute;
  top:5px;
  left:5px;
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  width: 5vmin;
  pointer-events: none;
  border: 1px solid white;
  background-color: black;
  border-radius: 50%;
}

.App-header {
  background-color: #9fc6ff;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2, h3, h4 {
  color: #0e121f;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0;
}

